galleries/*
config-env.php
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/google-java-format.xml
/.idea/makaegallery.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/
