<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav"
                 [attr.role]="'dialog'"
                 [mode]="'over'"
                 [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">Galleries</a>
            <a mat-list-item href="#">Admin</a>
            <a mat-list-item href="#">Users</a>
            <div class="login-wrapper">
                <app-login-button></app-login-button>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="header">
        <mat-toolbar color="primary">
            <div class="toolbar-wrapper">
                <button
                        type="button"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span>Makae Gallery</span>
            </div>
            <app-login-button></app-login-button>
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
