.card {
    margin: 8px;
    padding: 0;
}

label {
    min-width: 85px;
}

.nav-item-logout {
    max-width: 240px;
}

nav li {
    margin-left: 4px;
    margin-right: 4px;
}

.navbar-light .navbar-nav .nav-link.btn {
    color: white;
}

nav .btn:first-child {
    margin-left: 0;
}

nav .btn:last-child {
    margin-right: 0;
}


body > .container {
    padding-top: 40px;
}
