.card {
    margin: 8px;
    padding: 0;
}

label {
    min-width: 85px;
}

.nav-item-logout {
    max-width: 240px;
}

nav li {
    margin-left: 4px;
    margin-right: 4px;
}

.navbar-light .navbar-nav .nav-link.btn {
    color: white;
}

nav .btn:first-child {
    margin-left: 0;
}

nav .btn:last-child {
    margin-right: 0;
}


body > .container {
    padding-top: 40px;
}


/** Modals **/
.modal-dialog .form-group {
    margin-top: 24px;
}

.modal-dialog .preview {
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: content-box;
    margin: 12px;
    height: 30vh;

    background-color: #f8f9fa;
    background-image: url("../images/picture.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 256px;
}

.modal-dialog img {
    justify-self: center;
    max-width: 100%;
    max-height: 30vh;
    width: auto;
    height: auto;
    object-fit: contain;
}
