@use '~@angular/material' as mat;

@include mat.core();

$makaegallery-primary: mat.define-palette(mat.$deep-purple-palette);
$makaegallery-accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);
$makaegallery-warn: mat.define-palette(mat.$red-palette);

$makaegallery-theme: mat.define-light-theme((
        color: (
                primary: $makaegallery-primary,
                accent: $makaegallery-accent,
                warn: $makaegallery-warn,
        )
));

@include mat.all-component-themes($makaegallery-theme);


$my-palette: mat.define-palette(mat.$indigo-palette);

html {
  // background: #{mat.get-color-from-palette($makaegallery-primary, 900)};
}

.dark {
  background: hsla(234, 65%, 9%, 1);

  background: linear-gradient(45deg, hsla(234, 65%, 9%, 1) 0%, hsla(273, 35%, 33%, 1) 100%);

  background: -moz-linear-gradient(45deg, hsla(234, 65%, 9%, 1) 0%, hsla(273, 35%, 33%, 1) 100%);

  background: -webkit-linear-gradient(45deg, hsla(234, 65%, 9%, 1) 0%, hsla(273, 35%, 33%, 1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080B26", endColorstr="#583773", GradientType=1);
  background-attachment: fixed;
}

@import 'src/assets/styles/base.scss';
@import 'src/assets/styles/dialogs.scss';
@import 'src/assets/styles/forms.scss';


