@use '~@angular/material' as mat;

@include mat.core();

$makaegallery-primary: mat.define-palette(mat.$deep-purple-palette);
$makaegallery-accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);
$makaegallery-warn: mat.define-palette(mat.$red-palette);

$makaegallery-theme: mat.define-light-theme((
        color: (
                primary: $makaegallery-primary,
                accent: $makaegallery-accent,
                warn: $makaegallery-warn,
        )
));

@include mat.all-component-themes($makaegallery-theme);


$my-palette: mat.define-palette(mat.$indigo-palette);

body {
  background: #{mat.get-color-from-palette($makaegallery-primary, 'default')};
  background: #{mat.get-color-from-palette($makaegallery-primary, 'lighter')};
  background: #{mat.get-color-from-palette($makaegallery-primary, 'default-contrast')};
}


@import 'src/assets/styles/base.scss';
@import 'src/assets/styles/dialogs.scss';
@import 'src/assets/styles/forms.scss';


